@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>CUSTOMIZED ELEVEN NOTE</h2>
    <div id="slideshow">
        <div class="active">
            <img src="~/Content/1.png" class =".img-responsive" alt="Slideshow Image 1" />
            <b>Apply AJAX to Change Starred Status</b>
        </div>

        <div>
            <img src="~/Content/2.png" class =".img-responsive" alt="Slideshow Image 2" />
            <b>Put the Most Recent Note on Top of the List with a Tooltip</b>
        </div>

        <div>
            <img src="~/Content/3.png" class =".img-responsive" alt="Slideshow Image 3" />
            <b>Change Welcome Name to First Name if available otherwise use Email</b>
        </div>

    </div>
    <br/>
    <center><p><a href="~/Account/Login" class="btn btn-primary btn-lg">Demo Login &raquo;</a></p></center>
</div>

@section Scripts{
    <script type="text/javascript">

    function slideSwitch() {
        var $active = $('#slideshow DIV.active');

        if ( $active.length == 0 ) $active = $('#slideshow DIV:last');

        // use this to pull the divs in the order they appear in the markup
        var $next =  $active.next().length ? $active.next()
            : $('#slideshow DIV:first');

        $active.addClass('last-active');

        $next.css({opacity: 0.0})
            .addClass('active')
            .animate({opacity: 1.0}, 1000, function() {
                $active.removeClass('active last-active');
            });
    }

    $(function() {
        setInterval( "slideSwitch()", 5000 );
    });

    </script>
}

@section Style{
<style type="text/css">
    /*** set the width and height to match your images **/
    b{
        color: white;
    }

    #slideshow {
        position: relative;
        height: 625px;
    }

    #slideshow DIV {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
        opacity: 0.0;
        height: 625px;
        background-color: #1C1E22;
    }

    #slideshow DIV.active {
        z-index: 10;
        opacity: 1.0;
    }

    #slideshow DIV.last-active {
        z-index: 9;
    }

    #slideshow DIV IMG {
        height: 575px;
        display: block;
        border: 0;
        margin-bottom: 10px;
    }
</style>

}
